Flask-WTF==1.1.1
WTForms==3.0.1
scikit-learn @ file:///opt/concourse/worker/volumes/live/f0bd346e-3899-4f7a-66d4-2d56daf61c92/volume/scikit-learn_1621370395459/work
scipy==1.4.1
selenium==4.7.2
pytest==6.2.4
pandas==1.2.5
pandas-datareader==0.9.0
pandas-read-xml==0.0.8
numpy @ file:///opt/concourse/worker/volumes/live/8f1c8f9f-9894-46f7-7adc-bf8ad6d8fadd/volume/numpy_and_numpy_base_1620831190001/work
Flask==2.2.2
beautifulsoup4 @ file:///home/linux1/recipes/ci/beautifulsoup4_1610988766420/work